.row-header{
    margin:0px auto;
    padding:0px
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: rgb(165, 212, 212);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px;
    margin: auto;
    background: #9e8dbd;
    color: rgb(80, 61, 25)
}

address{
    font-size: 80%;
    /* margin: 0px; */
    color: #0f0f0f;
}